@import "style/payrollSystemColorPalette.scss";
.container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  color: $color-white;
  padding: 15px 25px;
  margin: 20px 0;
  &.selected {
    background-color: $color-navy;
  }
  .icon {
    margin-right: 30px;
    color: $color-sky-blue;
  }
  .title {
    p {
      margin: 0;
      color: $color-sky-blue;
      font-size: 1.2em;
    }
  }
}
