* {
  font-family: "Mukta", sans-serif;
}
body {
  background-color: #e7effa;
  width: 100%;
  height: 100%;
  padding: 100px 250px;
}
.inCardPanel {
  border-radius: 15px;
  box-shadow: 10px 10px 18px 11px #dce3ef;
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;

  .contentsArea {
    width: 70%;
  }
}
