@import "style/furnitureStoreColorPalette.scss";

.container {
  display: inline-block;
  margin-right: 3%;
  width: 40%;
  background-color: $color-light-gray;
  padding: 5%;
  border-radius: 20px;
  img {
    width: 100%;
    height: 100%;
  }
}
.wrapper {
  &.img {
    margin-bottom: 20px;
  }
  &.contents {
    display: flex;
    justify-content: space-between;
  }
}
.info {
  p {
    &:first-child {
      font-size: 1rem;
      margin: 2px;
      font-weight: 700;
    }
    &:nth-child(2) {
      color: $color-orange;
      font-weight: 700;
      font-size: 1.5rem;
      margin: 0;
    }
  }
}
.heart_Icon {
  position: relative;
  bottom: 26vw;
  left: -3vw;
  &.active {
    color: rgb(243, 130, 130) !important;
  }
}
.circleBtn {
  background-color: black;
  border-radius: 100px;
  padding: 5%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
