.container {
  box-sizing: border-box;
  border-radius: 30px;
}

.size {
  &-large {
    height: 100%;
  }
  &-medium {
    height: 60%;
  }
}

.border {
  &-solid {
    border: solid 1px #eff2f1;
  }
  &-dashed {
    border: dashed 5px #eff2f1;
  }
}

.background {
  &-true {
    background-color: #ffffff;
  }
}

.shadow {
  &-true {
    box-shadow: 10px 10px 18px 11px #dce3ef;
  }
}
