$themes: (
  light: (
    background: #fff,
    primary-accent: #8700fd,
    secondary-accent: #fff,
    black: #000,
  ),
);

$on-background: #f4f8fb;
$color-blue: #2e49cf;
$color-light-blue: #576cd9;
$color-sky-blue: #afbeff;
$color-navy: #192b80;
$color-light-gray: #bbbbc0;
$color-white: #ffffff;

$color-yellow: #ffd81c;
$color-light-yellow: #fffcef;
$color-orange: #ff836d;
$color-light-orange: #fff7f5;

$color-light-purple: #d4c4de;
$color-purple: #730bb6;
