@import "style/payrollSystemColorPalette.scss";

.container {
  width: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  &.info {
    width: 60%;
    height: 100%;
  }
  &.calender {
    width: 40%;
    height: 100%;
    .calenderPanel {
      height: 100%;
    }
  }
}
