.container {
  // width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.searchInput {
  border: none;
  padding: 3px;
  font-size: 1em;
}
