.container {
  width: 100%;
  padding: 30px 0 30px 100px;
  display: flex;
  flex-direction: column;
  .wrapper {
    &.header {
      display: flex;
      height: 6%;
      width: 100%;
      // background-color: beige;
      align-items: center;
      span {
        font-weight: 600;
      }
      .left {
        display: flex;
        flex-direction: row;
        width: 50%;
      }
      .right {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: flex-end;
        padding-right: 3vw;
      }
    }
    &.main {
      background-color: coral;
      height: 70%;
    }
    &.bottom {
      background-color: aliceblue;
      height: 24%;
    }
  }
}
